a {
    color: blue;
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

small {
    font-size: 90%;
}

big {
    font-size: 110%;
}

code {
    font-family: Courier;
}

p {
    color: black;
}

.main {
    color: red;
}

.keyword {
    color: blue;
}

.warning {
    font-weight: bold;
}

.box {
    background-color: lightblue;
    width: 300px;
}